PHP_HOST=phpfpm
PHP_PORT=9000
PHP_VERSION=8.1
APP_MAGE_MODE=developer

SERVER_NAME=docker_magento.local
SSL_KEY=/etc/nginx/certs/ssl-cert-nginx.key
SSL_CRT=/etc/nginx/certs/ssl-cert-nginx.pem

MYSQL_HOST=db
MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=magento_db
MYSQL_USER=magento
MYSQL_PASSWORD=magento

ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200

MAILPIT_HOST=mailpit
MAILPIT_PORT=1025
