PHP_HOST=phpfpm
PHP_PORT=9000
PHP_VERSION=8.1
APP_MAGE_MODE=developer

SERVER_NAME=docker_magento.local
SSL_KEY=/path
SSK_PEM=/path

MYSQL_HOST=db
MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=magento_db
MYSQL_USER=magento
MYSQL_PASSWORD=magento

ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
